<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->


    <title>{% block titulo %} {% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'principal/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'principal/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'principal/css/responsive.css' %}">
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="{% static 'principal/css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


</head>

<body class="main-layout">
    <div class="footer ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <h1 class="text-white">GamesPower</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <ul class="top_icon">
                        <li class="button_login"> <a href="/">Inicio</a> </li>
                        <li> <a href="{% url 'Productos' %}">Productos</a> </li>
                        <li class="active"> <a href="{% url 'Proveedores' %}">Contacto para Proveedores</a> </li>
                        <li> <a href="{% url 'Comunidad' %}">Comunidad</a> </li>
                        <li> <a href="{% url 'Tabla' %}">Tabla</a> </li>
                    </ul>
                                
                </div>
            </div>
        </div>
    </div>
    
    {% block contenido %}

    {% endblock %}

    <footer>
        <div class="footer ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Contactanos</h2>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Creador</h3>
                                    <ul class="loca">
                                    
                                    <li>Fabricio Enrique Gonzalez Ponce de Leon</li>

                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Ubicacion</h3>
                                    <ul class="loca">
                                    
                                    <li>Universidad Tecnologica de Morelia</li>

                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Contactos</h3>
                                    <ul class="loca">
                                    
                                    <li>poncedeleon@gmail.com</li>
                                    
                                    <li>+52 44 32 39 83 18 </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </footer>

</body>

</html>